.container {
  max-width: $max-width;
  margin: 0 auto;
  padding: 0 $sp-sm;
  @include media(medium){
    padding: 0 $sp-md;
  }
}

.header {
  position: fixed;
  background: white;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 9;
  box-shadow: 0 -1px 3px #666;
  .header__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 0;

    .header__logo {
      width: 20%;
      padding: 5px;

      > a {
        display: flex;
        align-items: center;
        height: 100%;

      }
      svg {
        width: 100%;
        height: 50px;
        max-width: 100px;
      }
    }
  }
}
//fix for admin toolbar
.toolbar-oriented + div {
  header {
    position: initial;
  }
  main#main {
    margin-top: 0;
  }
}
div#block-viagars-branding {
    max-width: 100px;
}