// Breakpoints
// @see /themes/custom/tre3/tre3.breakpoints.yml
// @see https://adamwathan.me/dont-use-em-for-media-queries/
// @type Map
$bp: ("xxsmall": 360px, "xsmall": 540px, "small": 900px, "medium": 1080px, "large": 1440px, "xlarge": 2160px);

/* Z-Index */
$z-index: (under : -1, bottom : 1, middle : 10, top : 20, topmost : 30);

// Spacing
$l-sp--xl: $t-lh--base * 3;
$l-sp--l: $t-lh--base * 2;
$l-sp--m: $t-lh--base;
$l-sp--s: $t-lh--base / 2;
$l-sp--xs: $t-lh--base / 3;
$l-sp--xxs: $t-lh--base / 6;

$sp-xlg: 90px;
$sp-lg: 60px;
$sp-md: 30px;
$sp-sm: 15px;
$sp-s-sm: 5px;

// Layout
$l-wd--n: 110rem;
$l-hg--menu: 7.7rem;

$w-container-narrow: 1200px;
$w-container-wide: 1560px;
$text-max-width: 700px;

// Misc
$max-width: 1280px;
$max-width-medium: 880px;
$max-width-small: 815px;
