
// Transitions
$transition-color: 0.3s ease-in-out;
$transition-enter: 0.7s cubic-bezier(0.19, 1, 0.22, 1);
$transition-enter-fast: 0.2s cubic-bezier(0.19, 1, 0.22, 1);

$btn-name: 'button' !default;
$btn-size-ratio: 1.2 !default;
$btn-hover: saturate 25% !default;
$btn-border: darken 20% !default;
$btn-background: (
  'default': #565656,
  'success': #468847,
  'danger': #b94a48,
  'warning': #c09853,
  'info': #3a87ad
) !default;

// SVG path
$svg-path: '/themes/custom/tre3/assets/images/sprites';

