.view-sponsors-view{
    > div {
        display:flex;
        flex-wrap: wrap;
        position: relative;
        text-align: center;
        .views-row{
            width: 33.3%;
            height: 50%;
        }
    }
}