.field__items {
  .field__item {
    .paragraph--type--reference-view {
      position: relative;
      padding-top: 30px;
      .field--name-field-title {
        font-size: 40px;
        text-transform: uppercase;
        letter-spacing: 2px;
        font-weight: 300;
        padding: 30px 10px 30px 10px;
        text-decoration: underline;
      }
      .field--name-field-button {
        text-align: center;
        padding: 20px 10px 60px 10px;
      }
      .field--name-field-title {
        position: relative;
        text-align: center;
      }
    }
  }
}
