.paragraph--type--header-block {
  display: flex;
  align-content: center;
  background-image: url('https://via.placeholder.com/1000x1000');
  max-width: 100%;
  height: auto;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  min-height: 100vh;
  position: relative;
  text-align: center;
  background-attachment: inherit;

  .field--name-field-header-text {
    max-width: 600px;
    margin: auto;
    color: color(white);
  }
}
